# MongoDB Connection
MONGO_URI=mongodb+srv://smartpantryuser:SmartPantry123@vamshikrishna.ofso7db.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=smart_pantry

# JWT Secret
JWT_SECRET_KEY=your-secret-key-change-this

# Email Configuration
MAIL_USERNAME=smartpantrysys@gmail.com
MAIL_PASSWORD=xrloiyudwshemvzu
MAIL_DEFAULT_SENDER=smartpantrysys@gmail.com