# MongoDB Configuration
MONGO_URI=mongodb+srv://smartpantryuser:SmartPantry123@vamshikrishna.ofso7db.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=smart_pantry

# JWT Configuration
JWT_SECRET_KEY=NOdITN4ug9Xep3NLFnsvj-xa8XkvZ3P82a-4cMivrtI

# Email Configuration (Brevo - Works on Render)
MAIL_SERVER=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=a62dc7001@smtp-brevo.com
MAIL_PASSWORD=xsmtpsib-0099d44635d0acd430838718850f0adf96a4c297d4ff2c2d7a74ac378f5aa5de-oyaw6QcTZKhYlOIK
MAIL_DEFAULT_SENDER=a62dc7001@smtp-brevo.com

# App Settings
DEBUG=True
HOST=0.0.0.0
PORT=5000

# OTP Settings
OTP_EXPIRY_MINUTES=10